
[Dd]ebug/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vscode/
.idea/
*.sln
*.userprefs
*.csproj

.vs/

*.apk
*.aab
*.exe
*.app
*.unitypackage
*.ipa

[Aa]ssets/Plugins/Editor/*.dll
[Aa]ssets/Plugins/Editor/*.pdb

[Uu]serSettings/
*.pidb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb
*.ilk
*.ipch
*.obj
*.exe

[Bb]uilds/**/Build/
[Bb]uilds/**/BackUpThisFolder_ButDontShipItWithYourGame/

.DS_Store
Thumbs.db
Desktop.ini

[Aa]ssets/Plugins/Editor/**/*.meta
[Aa]ssets/Plugins/**/*.meta

.gitignore.meta
.git/**

[Pp]ackages/packages-lock.json

*.swp
*.tmp
*.temp
*.bak
*.log
*.asset.meta
